[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest-django = "*"

[packages]
django = "*"
python-decouple = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"
django-s3-folder-storage = "*"
xlwt = "*"
pandas = "*"
xlrd = "*"
django-widget-tweaks = "*"
pytz = "*"
six = "*"
collectfast = "*"

[requires]
python_version = "3.8"
